* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #909090;
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: #ffffffca;
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: #6a9abf;
    border-radius: 0px 60px 0px 0px;
    border-radius: color #000; 
}

.left-section-contents{
    padding: 2rem 0rem;
}

.profile {
    width: 100%;
    border-bottom: 2px solid #171717;
}

.profile .profile-image {
    margin-left: 20px;
    right: 10px;
    width: 90%;
    border-radius: 100%;
}

.name {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #171717;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.profession {
    color: #171717;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

/* .contact-info { border-bottom: 2px solid #1B2631; } */
.left-title {
    margin-left: 155px;
    color: #171717;
    font-size: 20px;
}

.contact-info ul {
    padding-top: 1.5rem;
}

.contact-info ul li ,
.references ul li a {
    margin-left: 20px;
    padding: .4rem 0;
    color: #171717;
    text-decoration: none;
}

.contact-info ul li ,
.references ul li {
    padding: 20px;
    width: auto;
    font-size: 18px;
    color: #f00505aa;
}


.skills ul {
    padding-top: 1.5rem;
}
.skills ul li p {
    padding: .4rem 0;
    color: #171717;
}

.right-section-contents {
    padding: 2rem 2rem;
}

.right-title {
    color: #171717
}

.gap {
    padding-bottom: 2rem;
}
.about-me-contents {
    font-size: 18px;
    color: #171717;
}