* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #90dac37e;
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    width: 444px;
    height: 1365px;

    background: #FFFFFF;
    border: 3px solid #000000;
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background: rgba(201, 225, 238, 0.69);
    border: 4px solid #000000;
    border-radius: 0px 40px 40px 0px;
}

.left-section-contents{
    padding: 2rem 0rem;
}

.profile {
    width: 399px;
    border-bottom: 2px solid #171717;
}

.profile .profile-image {
    padding-left: 10px;
    margin-left: 20px;
    right: 50px;
    width: 302px;
    height: 285px;
    border-radius: 100%;

}

.name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.profession {
    padding: 20px 0 50px 0px;
    width: 188px;
    height: 16px;
    margin-left: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;

}

/* .contact-info { border-bottom: 2px solid #1B2631; } */
.left-title {
    margin-left:180px;
    color: #171717;
    font-size: 20px;
}

.contact-info ul {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.contact-info ul li ,
.references ul li  {
    margin-left: 20px;
    width: 99px;
    height: 24px;
    padding: .4rem 0;
    color: #171717;
    text-decoration: none;
}

.contact-info ul li a ,
.references ul li p { 
    padding: 180px;
    width: 50px;
    font-size: 18px;
    color: #8b0000ce;
}


.skills ul {
    padding-top: 1.6rem;
}
.skills ul li p{
    margin-left: 150px;
    padding: 0.6rem 0;
    color: #171717;
}

.right-section-contents {
    margin-left: 20px;
    padding: 2rem 3rem;
}

.right-title {
    color: #171717;
}

.gap {
    padding-bottom: 2rem;
}
.about-me-contents p{
    font-size: 18px;
    color: #171717;
}

/*.about-me-contents p{
    padding-left: 50px;
}*/ 